*{
    margin: 0;
    padding: 0;
}
.weatherApp{
    background-image: url('iceland.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.title{
    text-align: center;
}
.title h1{
    font-size: 48px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title input{
    height: 35px;
    width: 400px;
    border: none;
    background-color: transparent; 
    border-bottom: 1px solid white;
    color: white;
    margin: 10px 0px;
    outline: none; 
}
.title button{
    background-color: rgba(79, 167, 79, 0.537);
    padding: 10px 150px;
    color: white;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
}
.weatherDiv{
    width: 26%;
}
.weatherInfo{
    background : linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url('city.jpg');
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.weatherDivContainer{
    display: flex;
    justify-content: center;
}
#temp{
    margin-top: 25px;
    height: 50px;
}
#image{
    margin-top: 25px;
    height: 50px;
    width: 50px;
}
.time{
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}